@using System.Security.Claims
@model IEnumerable<ECOPlantation.Models.Invite>

@{
    ViewData["Title"] = "Index";
}

<style>
    body{
        color: black;
    }
</style>

<div class="container">
    <div class="justify-content-center row">
        <div class="col-md-6">
            <h2 style="margin-right: 10%; color: white">New Invites</h2>
        </div>
        <div class="col-md-4 text-end">
            <a asp-action="Create" asp-controller="Invites" class="btn btn-success float-end" data-ajax="true" data-ajax-method="get" data-ajax-update="#page" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Post New Event</a>

        </div>
    </div>
</div>


<div class="row row-cols-1 row-cols-md-2 g-4 mt-2" style="margin-left: 10%">
    <div class="col">
        @foreach (var item in Model)
        {
            <div class="card mt-2" style="background-color: #CCEDE9; width: 80% ">
                <div class="card-body">
                    <h5 class="card-title">@item.EventName</h5>
                    <h3 class="card-text">From</h3>
                    <h1 class="card-text">@item.EventDate</h1>
                    <h3 class="card-text">@item.Location</h3>
                    <form asp-action="Create" asp-controller="Visitors">
                        <input name="EventId" value="@item.Id" hidden />
                        <input name="VisitorId" value="@User.FindFirstValue(ClaimTypes.Name)" hidden />
                        <button type="submit" class="btn btn-primary">Join Now</button> 

                    </form>
                </div>
            </div>
        }
    </div>
</div>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" id="page">
    </div>
</div>